body {
  padding: 1rem;
  background: linear-gradient(to top, #f5f8fa 0%, #d9eaf9 50%, #bae2fd 100%);
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
}

header {
  height: 7rem;
  text-align: center;
}

h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
  text-decoration: underline 0.5px black;
}
main {
  min-height: 40rem;
  max-height: fit-content;
}
.countryInfo {
  border: 0.5px solid grey;
  padding: 0 1rem 1rem 1rem;
  margin-block-start: 1rem;
  background-color: rgb(255, 255, 255);
}
figure {
  width: 25rem;
  height: fit-content;
}

figure img {
  max-width: 100%;
  border: 1px solid black;
}

label {
  font-size: 1.6rem;
}
input {
  margin-inline-start: 1rem;
  font-family: monospace;
  height: 1.5rem;
}
.icon {
  background-color: white;
  width: 5rem;
  border: 0.5px solid black;
  margin-inline-start: 0;
}

.icon img {
  width: 100%;
  border: unset;
}

button:hover {
  cursor: cell;
}
